.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar li {
  cursor: pointer;
  transition: 0.3s;
}

.navbar li:hover {
  color: #38bdf8;
}